* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    font-size: 16px;
    scrollbar-gutter: stable;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('/src/assets/wood-texture.jpg');
  background-repeat: repeat;
  background-size: 600px auto;
}

#app {
  min-height: 100vh;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: $text-color;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

