* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    font-size: 16px;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $text-color;
  background-color: $background-color;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: $text-color;
  margin-bottom: 1rem;
}

